<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      class="b-slate-link"
      href="https://github.com/wzkMaster" target="_blank"
    >
      wzkMaster
    </a>
    <span px-1>|</span>
    <span pr-1>由</span>
    <a
      class="b-slate-link"
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      ddiu的demo
    </a>
    <span pr-1>修改而成</span>
  </p>
</footer>
